// Theme
$primary: #000000;
$secondary: #ffffff;
$tertiary: #525659;

$primary-gray: #909090;
$secondary-gray: #c7c7c7;
$tertiary-gray: #ebebeb;

$primary-border: #000000;
$secondary-border: #c9c9c9;
