<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>designory. - Front End Developer - Take Home Test</title>
    <meta name="description" content="designory front end developer take home test">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <p>Insert all HTML content here.</p>

    <script src="js/main.js"></script>
</body>
</html>
