@import '../../../styles/variables';

.Button {
	background: $primary;
	color: $secondary;
	padding: 0.5rem 1.5rem;
	border: 0;
	border-radius: 0.25rem;
	outline: none;
	cursor: pointer;
	font-size: 0.75rem;
	&--link {
		padding: 0.5rem;
		background: none;
		border: 0;
		color: $tertiary;
		&:hover {
			background: $primary;
			color: $secondary;
			transition: 0.25s ease-in-out;
		}
	}
}
