@import '../../../styles/variables';
.Footer {
	border-top: 2px solid $primary-border;
	width: 95%;
	padding: 0.5rem 0 1.5rem 0;
	display: flex;
	justify-content: space-between;
	* {
		font-size: 0.75rem;
	}
}
