@import '../../../styles/variables';
.Footer {
	border-top: 2px solid $primary-border;
	padding-top: 0.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	* {
		font-size: 0.75rem;
	}
}
