// All of these styles are temporary, please feel free to delete them
.app {
    font-family: sans-serif;
    font-size: 18px;

    max-width: 700px;
    margin: 0 auto;
    padding: 1em;

    color: #000;
}
